.author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 18.5vh;

  .authortext {
    color: #939393;

    ins {
      cursor: pointer;
    }
  }
}
