@import "./fonts/fonts.scss";
@import "./map.scss";

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
}

#root {
  height: 100%;
  overflow-y: scroll;
}

.icon {
  font-family: tgico;
  font-size: 1.5rem;
}

img {
  width: 10rem;
  height: 10rem;
}

.call {
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20vh;

  .authortext {
    color: #939393;

    ins {
      cursor: pointer;
    }
  }
}

.infolesson {
  display: block;
}

.callmain {
  display: flex;
}

.teachera {
  cursor: pointer;
}
